.k-container-right {
  display: flex;
  flex-direction: column;
  height: 100%;

  .component-attribute-operation {
    flex: 1;
  }
  .component-dom-operation {
    .operation-icon {
      margin: 4px 6px;
      cursor: pointer;

      &:hover {
        background-color: #ccc;
      }
    }
  }
}
