.k-container-center {
    flex: 1;
    background-color: aliceblue;
    user-select: none;

    [data-component-active="true"] {
        box-shadow: none;
        outline:none;
    }
    [data-component-active]:hover {
        box-shadow: none;
    }

    [data-component-active="true"] {
        box-shadow: inset 0px 0px 0px 1px pink!important;
    }
    [data-component-active]:hover {
        box-shadow: inset 0px 0px 0px 1px pink!important;
    }
    [data-component-insert="top"] {
        box-shadow: inset 0px 1px 0px 0px rgb(0, 0, 0)!important;
    }
    [data-component-insert="bottom"] {
        box-shadow: inset 0px -1px 0px 0px rgb(0, 0, 0)!important;
    }
    [data-component-insert="left"] {
        box-shadow: inset 1px 0px 0px 0px rgb(0, 0, 0)!important;
    }
    [data-component-insert="right"] {
        box-shadow: inset -1px 0px 0px 0px rgb(0, 0, 0)!important;
    }
}
