.k-container-center {
    flex: 1;
    height: 100vh;
    background-color: aliceblue;
    user-select: none;

    .k-hover {
        cursor: pointer;
        &:hover {
            box-shadow: inset 0px 0px 0px 1px #ccc !important;
        }
    }

    .k-select {
        box-shadow: inset 0px 0px 0px 1px #ccc !important;
    }
}